<div class="h-screen">
    <div class="container w-full pt-8 flex-1 grid gap-12 mx-auto md:px-6 lg:grid-cols-2 bg-blue-100">
        <div class="flex flex-col space-y-4">
            <h1 class="text-3xl font-bold tracking-tighter lg:text-5xl">The perfect platform for the JAMstack</h1>
            <p
                class="max-w-[600px] text-neutral-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed dark:text-gray-400">
                JAMstack is a modern web development architecture that combines JavaScript, APIs, and Markup to deliver
                fast and secure websites. It allows developers to build scalable and performant web applications with
                ease.
            </p>
            <div class="ml-28 flex">
                <img alt="Image" class="overflow-hidden h-[18rem]"
                    style="filter: drop-shadow(0 0mm 30mm rgb(176, 118, 210));" src="assets/icee.png">
            </div>
            <p
                class="max-w-[600px] text-gray-500 pt-0 pb-7 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed dark:text-gray-400">
                With JAMstack, developers can leverage pre-built Markup, serverless functions, and CDN caching to
                deliver static sites that are highly optimized for speed and security.
            </p>
        </div>
        <div class="order-1 space-y-8 md:order-2 md:space-y-8 lg:space-y-12">
            <img alt="Image" class="w-full h-[36rem] overflow-hidden object-scale-down drop-shadow-2xl"
                src="assets/desktop.png" />
        </div>
    </div>


    <div class="container mx-auto mt-16 px-4 pb-20">
        <h2 class="text-2xl font-bold mb-4">Discover the Power of JAMstack</h2>
        <p class="text-neutral-500">JAMstack represents a modern approach to web development, seamlessly blending JavaScript, APIs, and Markup to craft blazingly fast and secure websites. It empowers developers to construct scalable and high-performing web applications with remarkable ease.</p>
        <p class="text-neutral-500 mt-2">With JAMstack, developers harness the potential of pre-built Markup, serverless functions, and CDN caching, ushering in a new era of web development. By delivering static sites that are meticulously optimized for speed and security, JAMstack redefines the landscape of modern web development.</p>
    </div>    
</div>